
.header{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: black;
}
.navegação{
    display: flex;
    width: 100%;
    height: auto;
    background-color: black;
}
.listagem{
    display:flex;
    width: 100%;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
}
.caminho{
    display: flex;
    text-decoration: none;
    padding: 0 1rem 0 1rem;
    color: white;
    transition: 0.2s;
}
.caminho:hover{
    transform: scale(1.1);
}
